.form-section {
    margin: 0 auto;
    width: 48%;
}

.form-section__title {
    font-size: xx-large;
}

.purchase-form {
    border: #2A2B2D solid;
    padding-top: 10px;
    padding-right: 17px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.purchase-form__fieldset {
}

.purchase-form__legend {
    font-size: x-large;
    text-align: center;
}

.purchase-form__label {
    display: block;
    font-size: x-large;
}

.purchase-form__input {
    display: block;
    font-size: x-large;
    width: 100%;
}


.purchase-form__image-item-options {
    display: flex;
    justify-content: space-evenly;
}

.purchase-form__image-item-options-title {
    font-size: x-large;
}

.purchase-form__image-item-file-option {

}

.purchase-form__radio {

}

.purchase-form__item-image-link-section {

}

.purchase-form__item-image-file-section {

}


.purchase-form__button {
    float: right;
    font-size: x-large;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: -7px;
    width: 30%;
}

.purchase-form__button_green {
    background-color: greenyellow;
    color: white;
}

@media screen and (max-width: 768px) {
    .form-section {
        width: auto;
    }

    .form-section__title {
        text-align: center;
        font-size: x-large;
    }

    .purchase-form__legend {
        font-size: large;
    }

    .purchase-form {
        padding-top: 5px;
        padding-right: 8.5px;
        padding-left: 5px;
        padding-bottom: 5px;
    }

    .purchase-form__label {
        font-size: large;
    }

    .purchase-form__image-item-options-title {
        font-size: large;
    }

    .purchase-form__input {
        font-size: large;
    }

    .purchase-form__button {
        font-size: large;
        padding-top: 5px;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
        margin-top: 5px;
        margin-left: 7.5px;
        margin-right: -3.5px;
        width: 20%;
    }

}