.intro-section {
}

.intro-section__title {
    font-size: xx-large;
    text-align: center;
}

.intro-section__description {
    font-size: larger;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}