
.project-section {

}

.project-section__title {
    font-size: xx-large;
    text-align: center;
}

.project-section__content {
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    border: solid black 1px;

}

.project-section__description-section {
    background-color: rgba(0, 0, 0, 0.25);
    color: #030303;
}

.project-section__description-title {
    font-size: x-large;
}

.project-section__description {
    font-size: larger;
}

.project-section__extra-info {
    display: flex;
    justify-content: space-evenly;
}

.project-section__technologies-section {
    width: 50%;
    background-color: #868686;
    color: white;
}

.project-section__technologies-title {
    font-size: x-large;
}

.project-section__technologies {
    font-size: larger;
}

.project-section__link-section {
    width: 50%;
    background-color: #333434;
    color: white;
}

.project-section__link-title {
    font-size: x-large;
}

.project-section__link {
    font-size: larger;
    color: white;
    text-decoration: none;
}