# Source: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs
name: Node.js CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x, 18.x, 20.x]

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      
      #Source: https://chat.openai.com/share/aa376f1a-711e-4d20-85eb-db3fc693f396
      # Server Build
      - name: Build server
        run: |
          cd server
          npm ci
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
          npm test
=======
=======
>>>>>>> parent of 4015f96 (Modified node.yml)
          npm start
>>>>>>> parent of 4015f96 (Modified node.yml)
=======
          npm run build --if-present
          npm test
>>>>>>> parent of 64653a3 (Modified node.yml)
      # Client Build
      - name: Build client
        run: |
          cd client
<<<<<<< HEAD
<<<<<<< HEAD
          npm install
          npm test
=======
=======
>>>>>>> parent of 4015f96 (Modified node.yml)
          npm ci
<<<<<<< HEAD
          npm start
>>>>>>> parent of 4015f96 (Modified node.yml)
=======
          npm run build --if-present
          npm test
>>>>>>> parent of 64653a3 (Modified node.yml)
